irrigation-system-dashboard/.angular
irrigation-system-dashboard/.idea
irrigation-system/.idea/
.idea
irrigation-system/target
irrigation-system-dashboard/.vscode
irrigation-system-dashboard/node_modules
