######################
# Project Specific
######################
/irrigation-system/target/classes/static/**
/irrigation-system/src/test/javascript/coverage/
export_env.sh

######################
# Node
######################
/irrigation-system-dashboard/node/
/irrigation-system-dashboard/node_tmp/
/irrigation-system-dashboard/node_modules/
/irrigation-system-dashboard/npm-debug.log.*
/irrigation-system-dashboard/.awcache/*
/irrigation-system-dashboard/.cache-loader/*

######################
# SASS
######################
.sass-cache/

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml

# External tool builders
.externalToolBuilders/**

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# STS-specific
/.sts4-cache/*

######################
# IntelliJ
######################
/irrigation-system/.idea/

.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Visual Studio Code
######################
/irrigation-system-dashboard/.vscode/

######################
# Maven
######################
/irrigation-system-dashboard/log/
/irrigation-system-dashboard/target/

######################
# Gradle
######################
.gradle/
/build/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/bin/
/deploy/

######################
# Logs
######################
*.log*

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

######################
# ESLint
######################
.eslintcache

.env

/src/main/resources/idea.gdsl
*application-prod.yml*
