<h3 mat-dialog-title>Create a plot of land </h3>
<form [formGroup]="plotlandForm" (ngSubmit)="submit()" >
  <div class="example-container">
  <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Area</mat-label>
      <input type="number" matInput formControlName="area"
             placeholder="200" required>
      <mat-hint>Area in square meters (sqm)</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Agricultural Crop</mat-label>
      <mat-select formControlName="crop">
        <mat-option *ngFor="let item of agriculturalCrops; index as i;" value={{item.agriculturalCropId}}>
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
  </div>

  <br/>

  <h3 mat-dialog-title>Configure a plot of land </h3>
  
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Amount of water</mat-label>
      <input type="number" matInput formControlName="water" required>
      <mat-hint>Amount of water in liter</mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Irrigation time slot</mat-label>
      <input type="number" matInput formControlName="time"
             placeholder="48" required>
      <mat-hint>Time slot in hours</mat-hint>
    </mat-form-field>
  </div>
  
    <div mat-dialog-actions>
      <button type="submit" (ngSubmit)="submit()" mat-raised-button color="primary">Submit</button>
      <button mat-button class="mat-focus-indicator mat-raised-button mat-button-base mat-raised" (click)="onNoClick()">Close</button>
    </div>

  </form> 

